.container {
  position: relative;
  top: 40px;
}
.inner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 30px;
  box-shadow: 5px 5px rgb(154, 200, 200);
  background-color: rgb(215, 245, 250);
}
.grid {
  display: grid;
  gap: 5px;
}

#container {
  margin-top: 40px;
}

#btn {
  background-color: rgb(50, 201, 201);
  border: none;
  font-weight: bold;
  position: absolute;
  left: 680px;
  padding: 11px;
}

#btn:hover {
  transform: scale(0.9);
  transition: all 0.2s;
}

.square, .trianglee, .ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-bottom:15px
}


.square {
  width: 50px;
  height: 50px;
  background-color: rgb(215, 245, 250);
  border: 1px solid #ccc;
}


.trianglee {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid rgb(215, 245, 250);
 
}


.ellipse {
  height: 50px;
  width: 25px;
  background-color: rgb(215, 245, 250);
  border-radius: 50%;
}


.selected {
  color: red;
  font-size: 23px;
  box-shadow: 3px 3px 3px 3px;
}
dialog {
  padding: 20px 40px ;
  position: relative;
  top:20%;
  margin:auto;
 
}

dialog h5{
  margin-bottom:40px
}
#editDialog{
  width:400px;
  text-align: center;
}
dialog button {
  background-color: rgb(50, 201, 201);
  border: none;
  padding: 7px;
  color: white;
  border-radius: 3px;

}
dialog input {
  padding: 10px;
}

.buttons #cancel{
  background-color: red;
}

.buttons{
  margin-top:15px;
  text-align: center;
}
::backdrop {
  backdrop-filter: blur(5px);
}

.btn {
  background-color: rgb(50, 201, 201);
}

.all {
  margin: 10px;
}

/* .accordion-body-custom {
  background-color: rgb(215, 245, 250);
  display: flex;
  margin: 12px;
  justify-content: space-between;
  align-items: center;
}

.accordion-body-custom button {
  background-color: rgb(50, 201, 201);
} */


#selectedElements {
  max-width: 300px;
  margin-left: 40px;
}


div.top{
  background-color:  rgb(215, 245, 250);
  padding:20px;
  font-size: 18px;
  text-align: center;
 
}
.card {
  margin-bottom: 12px;
}

.card-header a{
  text-decoration: none;
  font-weight: bold;
  color:rgb(12, 114, 139);
 
}
.card-body button {
  background-color: rgb(50, 201, 201);
  position:relative;
  left:100px
}



